/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  #soundButton {
    cursor: pointer;
  }/* Add here all your CSS customizations */


  /* HTML: <div class="loader"></div> */
.loader {
	width: 120px;
	height: 22px;
	border-radius: 20px;
	color: #000000;
	border: 2px solid;
	position: relative;
  }
  .loader::before {
	content: "";
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;
	border-radius: inherit;
	background: currentColor;
	animation: l6 2s infinite;
  }
  @keyframes l6 {
	  100% {inset:0}
  }