/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

#player-controls button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#player-controls button:active {
  transform: scale(0.95);
  background-color: #d0d0d0;
}

/* Styling for mobile devices */
@media only screen and (max-width: 600px) {
  #player-controls button {
      width: 2vw; /* 30% of viewport width for smaller screens */
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
  }
}

.popup-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.mfp-content {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.popup-content img {
  width: 300px;
  margin-bottom: 10px;
}

#popup-code {
  font-size: 16px;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}

.copy-btn {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.copy-btn:hover {
  background-color: #218838;
}

.mfp-close-btn-in .mfp-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #ff5f5f;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Specific button colors */
.btn-dana {
  background-color: #007bff;
}
.btn-dana:hover {
  background-color: #0056b3;
}

.btn-bri {
  background-color: #000080;
}
.btn-dana:hover {
  background-color: #0d0d73;
}

.btn-gopay {
  background-color: #00bfae;
}
.btn-gopay:hover {
  background-color: #008f8c;
}

.btn-jago {
  background-color: #f2673c;
}
.btn-jago:hover {
  background-color: #c53c1d;
}


.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  #soundButton {
    cursor: pointer;
  }/* Add here all your CSS customizations */


  /* HTML: <div class="loader"></div> */
.loader {
	width: 120px;
	height: 22px;
	border-radius: 20px;
	color: #000000;
	border: 2px solid;
	position: relative;
  }
  .loader::before {
	content: "";
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;
	border-radius: inherit;
	background: currentColor;
	animation: l6 2s infinite;
  }
  @keyframes l6 {
	  100% {inset:0}
  }